{% extends 'base.html' %}

{% block title %}
  New User
{% endblock %}

{% block content %}

<h1>Create a user</h1>

<form action="/users/new" method="POST">
  
  <label for="new_first_name">First Name</label>
  <input type="text" name="new_first_name" class="form-control"><br>

  <label for="new_last_name">Last Name</label>
  <input type="text" name="new_last_name" class="form-control"><br>

  <label for="new_user_image">Image URL</label>
  <input type="text" name="new_user_image" class="form-control"><br>

  <input type="submit" id="submit_new_user" value="Add" class="btn btn-outline-info"></input>

</form>


{% endblock %}