{% extends 'base.html' %}

{% block title %}
  {{user.first_name}} Post
{% endblock %}

{% block content %}

  <h3>{{post.title}}</h3>

  <p>{{post.content}}</p>

  <p>BY: {{user.first_name}} {{user.last_name}}</p>
  
  <a href="/user/{{user.id}}" class="btn btn-outline-danger">Cancel</a>

  <form action="/post/{{post.id}}/edit">
    <input type="submit" name="" id="" value="Edit">
  </form>
  
  <form action='/user/{{user.id}}/delete' method="POST">
    <input type="submit" name="" id="" value="Delete" class="btn btn-danger">
  </form>
    
    
{% endblock %}